@charset "utf-8";

/*-------------------------------------------------

common

-------------------------------------------------*/

*{
 margin:0;
 padding:0;
}

html {
 overflow-y: scroll;
/* filter: expression(document.execCommand("BackgroundImageCache",false, true));*/
}

body {
 margin: 0;
 padding: 0;
 background-color: #ffffff;
 color: #474747;
 font-family: "メイリオ", "Meiryo", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS P Gothic", "Osaka", Verdana, Arial, Helvetica, sans-serif;
 font-size:12px;
 line-height: 1.8em;
}



article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary
{
	display:block;
}

img, p, ul, li, dl, dt, dd { 
 margin: 0;
 padding: 0;
}

img {
 border: 0;
 vertical-align:bottom;
}

ul li{
 list-style-type: none;
 line-height:1em;
}

table {
	border-collapse:collapse;	
}


table th,
table td{
 vertical-align:top;
	font-weight:normal;
}

table td.tdRht{
 text-align:right;
}

table td.vaTop{
 vertical-align:top;
}
table td.vaBtm{
 vertical-align:bottom;
}

address {
font-style:normal;
} 

.floatL {
 float: left;
}

.floatR {
 float: right;
}


/*-------------------------------------------------

link

-------------------------------------------------*/

a:link {
 color: #007FBF;
 text-decoration: underline;
}

a:visited {
 color: #007FBF;
 text-decoration: underline;
}

a:hover {
 color: #FF6600;
 text-decoration: underline;
}

a:active {
 color: #FF7E3E;
 text-decoration: underline;
}

a:hover img{
opacity:0.7;
filter:alpha(opacity=70);
-ms-filter: "alpha( opacity=70 )";
background:none!important;
}

/*-------------------------------------------------

clearFix

-------------------------------------------------*/

.clearFix:after {
 content: "."; 
 display: block; 
 height: 0; 
 clear: both; 
 visibility: hidden;
}

.clearFix {
 display: inline-table;
 min-height: 1%;
}

/* Hides from IE-mac \*/

* html .clearFix {
 height: 1%;
}

.clearFix {
 display: block;
}


.clear{
	clear:both;
}

/* End hide from IE-mac */

/*-------------------------------------------------

h

-------------------------------------------------*/

h1,h2,h3,h4,h5,h6 {
	margin: 0;
	padding: 0;
	font-weight: normal;
	font-size:12px;
}

