﻿@charset "utf-8";

/*-------------------------------------------------

color

-------------------------------------------------*/

.white {
	color: #FFFFFF;
}

.red {
	color: #FF0000;
}

.orange {
	color: #FF7E3E;
}

.f28{
font-size:28px;
}

.f24{
font-size:24px;
}

.f20{
font-size:20px;
}

.f18{
font-size:18px;
}

.f16{
font-size:16px;
}

.f14{
font-size:14px;
}

.f12{
font-size:12px;
}

.f10{
font-size:10px;
}

.centerTxt{
 text-align:center;
}

.rightTxt{
 text-align:right;
}

.leftTxt{
 text-align:left;
}

.verMid
{
	vertical-align:middle;
}
.verTop
{
	vertical-align:top;
}

.meiryo{
	font-family:"メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

