@charset "utf-8";
/* CSS Document */

/*-------------------------------------------------

form

-------------------------------------------------*/

div.lavel {
	position: relative;
	float: left;
}

label {
	color: #999;
}
label.over {
	position: absolute;
	top: 12px;
	left: 10px;
	font-size: 16px;
	display:none;
}

input,input[type="button"]{
	font-family: "メイリオ", "Meiryo", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS P Gothic", "Osaka", Verdana, Arial, Helvetica, sans-serif;
}


input[type="text"],input[type="password"],input[type="url"],input[type="file"],.radioDiv .left,.radioDiv .right,.radioDiv .center,select,textarea,.inputCheckBox{
	font-family: "メイリオ", "Meiryo", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS P Gothic", "Osaka", Verdana, Arial, Helvetica, sans-serif;
	border:1px solid #C6C6C6;
	font-size: 16px;
	height: 40px;
	line-height: 40px;
	padding: 0 10px;
	margin: 0;
	vertical-align: baseline;
	cursor:pointer;
}

input[type="file"]{
	font-size: 12px;
}

input[type="text"].hissu,
input[type="password"].hissu,
input[type="url"].hissu,
input[type="file"].hissu,
.radioDiv.hissu .left,
.radioDiv.hissu .right,
.radioDiv.hissu .center,
select.hissu,
textarea.hissu,
.checkBoxDiv.hissu .inputCheckBox{
	border-color:#FF7E3E;
	/*border:1px solid #FF7E3E;*/
}



textarea{
	height:auto;
	line-height:1.4em;
}

.errorLine{
	border:none;
}

input[type="text"].errorLine,
input[type="password"].errorLine,
input[type="url"].errorLine,
input[type="file"].errorLine,
tr.errorLine input,
select.errorLine,
textarea.errorLine{
	background-color:#FFEEE6;
	border:1px solid #FF7E3E;
}

.inputRadio{
	cursor:pointer;
	color:#181926;
}

div.radioDiv .left,
div.radioDiv .center,
div.radioDiv .right{
	padding:0px;
	line-height: 1em;

	/* Old Browsers */
	background: #ffffff;
	
	/* Safari 4.0-5.0, Chrome 3-9, iOS Safari 4.0.4-5.0, Android 2.1-3.0 */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #e5e5e5));
	
	background: -webkit-linear-gradient(top, #ffffff, #e5e5e5);       /* Safari 5.1+, Chrome 10+, iOS Safari 5.1+, Android 4.0+ */
	background:    -moz-linear-gradient(top, #ffffff, #e5e5e5);       /* Firefox 3.6-15.0 */
	background:      -o-linear-gradient(top, #ffffff, #e5e5e5);       /* Opera 11.10-12.10 */
	background:         linear-gradient(to bottom, #ffffff, #e5e5e5); /* IE10, Firefox 16.0+, Opera 12.50+ */
	
	/* IE 8+ */
	/* "-ms-filter" should be included first before "filter" in order for the filter to work properly in Compatibility View */
	/* http://msdn.microsoft.com/en-us/library/ms530752%28v=vs.85%29.aspx */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e5e5e5', GradientType=0)";
	
	/* IE 5.5-7 */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e5e5e5', GradientType=0);


}

tr.errorLine div.radioDiv .left,
tr.errorLine div.radioDiv .center,
tr.errorLine div.radioDiv .right,
.errorLine .inputCheckBox{

	/* Old Browsers */
	background: #FFEEE6;
	
	/* Safari 4.0-5.0, Chrome 3-9, iOS Safari 4.0.4-5.0, Android 2.1-3.0 */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFFFFF), color-stop(100%, #FFEEE6));
	
	background: -webkit-linear-gradient(top, #FFFFFF, #FFEEE6);       /* Safari 5.1+, Chrome 10+, iOS Safari 5.1+, Android 4.0+ */
	background:    -moz-linear-gradient(top, #FFFFFF, #FFEEE6);       /* Firefox 3.6-15.0 */
	background:      -o-linear-gradient(top, #FFFFFF, #FFEEE6);       /* Opera 11.10-12.10 */
	background:         linear-gradient(to bottom, #FFFFFF, #FFEEE6); /* IE10, Firefox 16.0+, Opera 12.50+ */
	
	/* IE 8+ */
	/* "-ms-filter" should be included first before "filter" in order for the filter to work properly in Compatibility View */
	/* http://msdn.microsoft.com/en-us/library/ms530752%28v=vs.85%29.aspx */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#FFEEE6', GradientType=0)";
	
	/* IE 5.5-7 */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#FFEEE6', GradientType=0);

}


div.radioDiv .left.checked,
div.radioDiv .center.checked,
div.radioDiv .right.checked {
	background: #f2f2f2;
	filter: none;
}




input[type="text"],input[type="url"],[type="password"],input[type="file"],select,textarea{
	-moz-border-radius: 4px;/* for Firefox */
	-webkit-border-radius: 4px;/* for Safari and chrome */
	border-radius: 4px;/* CSS3 */

	background-color:#FAFAFA;
	width: 200px;
}

input[type="text"].w180{
	width: 180px;
	margin-right:7px;
}

.fullWidth input,
.fullWidth textarea{
width: 432px;
}

.fullWidth select{
width: 454px;
}

.minWidth input {
width: 83px;
}




div.form table td{
	padding:0 10px 15px 0;
}

div.form table td.c1,
div.form table td.c2{
	width:222px;
}

div.form table td.fullWidth,
div.form table td.c1.fullWidth{
	width:444px;
}

div.form p.komoku{
	font-weight:bold;
}

div.form table td.message{
	vertical-align:middle;
	padding-right:0;
	padding-top:18px;
	line-height:1.4em;
}

div.form table td.message p,
.errInfo{
	margin-bottom:4px;
	color:#FB5200;
}
div.form table td.message p.last{
	margin-bottom:0px;
}

div.radioDiv .left {
	float: left;
	width: 226px;
	margin-right: 0px;

	-webkit-border-radius: 4px 0px 0px 4px;
	-moz-border-radius: 4px 0px 0px 4px;
	-ms-border-radius: 4px 0px 0px 4px;
	-o-border-radius: 4px 0px 0px 4px;
	border-radius: 4px 0px 0px 4px;
}
div.radioDiv .right {
	float: left;
	width: 225px;
	border-left: 0px;

	-webkit-border-radius: 0px 4px 4px 0px;
	-moz-border-radius: 0px 4px 4px 0px;
	-ms-border-radius: 0px 4px 4px 0px;
	-o-border-radius: 0px 4px 4px 0px;
	border-radius: 0px 4px 4px 0px;
}

div.radioDiv.item3 .left {
	width: 150px;
}
div.radioDiv.item3 .right {
	width: 150px;
}
div.radioDiv.item3 .center {
	float: left;
	width: 150px;
	margin-right: 0px;
	border-left: 0px;
}

div.radioDiv.item4 .left {
	width: 112px;
}
div.radioDiv.item4 .right {
	width: 113px;
}
div.radioDiv.item4 .center {
	float: left;
	width: 112px;
	margin-right: 0px;
	border-left: 0px;
}

div.radioDiv.item5 .left {
	width: 73px;
}
div.radioDiv.item5 .right {
	width: 108px;
}
div.radioDiv.item5 .center {
	float: left;
	width: 89px;
	margin-right: 0px;
	border-left: 0px;
}

div.radioDiv.item5 label.inputRadio span.radioButton{
margin: 0 5px 0 0;
}

label.inputRadio {
	position:relative;
	display:block;
	height:20px;
	padding:10px 0px 10px 10px;
}

label.inputRadio span.radioButton {
	display: inline-block;
	content: " ";
	position: relative;
	top: 2px;
	margin: 0 10px 0 0;
	height: 16px;
	width: 16px;
	background:url(../img/iconRadioBtn.png) 0px 0px no-repeat;
}


.checked label.inputRadio span.radioButton{
	background:url(../img/iconRadioBtn.png) -30px 0px no-repeat;
}


input[type="radio"]{
	display:block;
	height: 16px;
	width: 16px;
	position:absolute;
	top:12px;
	left:12px;
	opacity: 0; /* Standard: FF gt 1.5, Opera, Safari */
	filter: alpha(opacity=0); /* IE lt 8 */
	-ms-filter: "alpha(opacity=0)"; /* IE 8 */
	-khtml-opacity: 0; /* Safari 1.x */
	-moz-opacity: 0; /* FF lt 1.5, Netscape */
}

/*-- チェックボックス --*/

.inputCheckBox{
	position:relative;
	display:block;
	width:432px;
	color:#181926;
	line-height:40px;
	cursor:pointer;

	/* Old Browsers */
	background: #FFFFFF;
	
	/* Safari 4.0-5.0, Chrome 3-9, iOS Safari 4.0.4-5.0, Android 2.1-3.0 */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFFFFF), color-stop(100%, #e5e5e5));
	
	background: -webkit-linear-gradient(top, #FFFFFF, #e5e5e5);       /* Safari 5.1+, Chrome 10+, iOS Safari 5.1+, Android 4.0+ */
	background:    -moz-linear-gradient(top, #FFFFFF, #e5e5e5);       /* Firefox 3.6-15.0 */
	background:      -o-linear-gradient(top, #FFFFFF, #e5e5e5);       /* Opera 11.10-12.10 */
	background:         linear-gradient(to bottom, #FFFFFF, #e5e5e5); /* IE10, Firefox 16.0+, Opera 12.50+ */
	
	/* IE 8+ */
	/* "-ms-filter" should be included first before "filter" in order for the filter to work properly in Compatibility View */
	/* http://msdn.microsoft.com/en-us/library/ms530752%28v=vs.85%29.aspx */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#e5e5e5', GradientType=0)";
	
	/* IE 5.5-7 */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#e5e5e5', GradientType=0);

	border:none;
	border-top:1px solid #C6C6C6;
	border-left:1px solid #C6C6C6;
	border-right:1px solid #C6C6C6;
}

.inputCheckBox.first{
	-moz-border-radius-topleft: 4px;			/* for Firefox */
	-moz-border-radius-topright: 4px;			/* for Firefox */
	-webkit-border-top-left-radius: 4px;	/* for Safari and chrome */
	-webkit-border-top-right-radius: 4px;	/* for Safari and chrome */
	border-top-left-radius: 4px;					/* CSS3 */
	border-top-right-radius: 4px;					/* CSS3 */
}
.inputCheckBox.last{
	border-bottom:1px solid #C6C6C6;
	-moz-border-radius-bottomleft: 4px;			/* for Firefox */
	-moz-border-radius-bottomright: 4px;			/* for Firefox */
	-webkit-border-bottom-left-radius: 4px;	/* for Safari and chrome */
	-webkit-border-bottom-right-radius: 4px;	/* for Safari and chrome */
	border-bottom-left-radius: 4px;					/* CSS3 */
	border-bottom-right-radius: 4px;					/* CSS3 */
}




label.inputCheckBox span.checkButton {
	display: inline-block;
	content: " ";
	position:absolute;
	top:7px;
	right: 7px;
	height: 25px;
	width: 25px;
	background:url(../img/iconCheckBtn.png) 0px 0px no-repeat;
}

label.inputCheckBox.checked span.checkButton{
	background:url(../img/iconCheckBtn.png) -30px 0px no-repeat;
}

input[type="checkbox"]{
	display:block;
	height: 25px;
	width: 25px;
	position:absolute;
	top:7px;
	right: 7px;
	opacity: 0; /* Standard: FF gt 1.5, Opera, Safari */
	filter: alpha(opacity=0); /* IE lt 8 */
	-ms-filter: "alpha(opacity=0)"; /* IE 8 */
	-khtml-opacity: 0; /* Safari 1.x */
	-moz-opacity: 0; /* FF lt 1.5, Netscape */
}







/*-- セレクト --*/

select{
	cursor:pointer;
	width:221px;
	height: 42px;
	padding:10px;
	font-family: "メイリオ", "Meiryo", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS P Gothic", "Osaka", Verdana, Arial, Helvetica, sans-serif;
}



.basicBtn{
	width:220px;
	font-size:16px;
	line-height:42px;
	height:42px;
	cursor:pointer;
	font-weight:bold;
	
	border:1px solid #3898C3;
	-moz-border-radius: 4px;/* for Firefox */
	-webkit-border-radius: 4px;/* for Safari and chrome */
	border-radius: 4px;/* CSS3 */

	display:block;
	
	color:#FFFFFF;
	text-shadow: -1px -1px 0px rgba(0,0,0,0.2);

	/* Old Browsers */
	background: #3898C3;
	
	/* Safari 4.0-5.0, Chrome 3-9, iOS Safari 4.0.4-5.0, Android 2.1-3.0 */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8EC5DE), color-stop(100%, #3898C3));
	
	background: -webkit-linear-gradient(top, #8EC5DE, #3898C3);       /* Safari 5.1+, Chrome 10+, iOS Safari 5.1+, Android 4.0+ */
	background:    -moz-linear-gradient(top, #8EC5DE, #3898C3);       /* Firefox 3.6-15.0 */
	background:      -o-linear-gradient(top, #8EC5DE, #3898C3);       /* Opera 11.10-12.10 */
	background:         linear-gradient(to bottom, #8EC5DE, #3898C3); /* IE10, Firefox 16.0+, Opera 12.50+ */
	
	/* IE 8+ */
	/* "-ms-filter" should be included first before "filter" in order for the filter to work properly in Compatibility View */
	/* http://msdn.microsoft.com/en-us/library/ms530752%28v=vs.85%29.aspx */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#8EC5DE', endColorstr='#3898C3', GradientType=0)";
	
	/* IE 5.5-7 */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8EC5DE', endColorstr='#3898C3', GradientType=0);
}

.basicBtn:hover{
	/* Old Browsers */
	background: #2C7798;
	
	/* Safari 4.0-5.0, Chrome 3-9, iOS Safari 4.0.4-5.0, Android 2.1-3.0 */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8EC5DE), color-stop(100%, #2C7798));
	
	background: -webkit-linear-gradient(top, #8EC5DE, #2C7798);       /* Safari 5.1+, Chrome 10+, iOS Safari 5.1+, Android 4.0+ */
	background:    -moz-linear-gradient(top, #8EC5DE, #2C7798);       /* Firefox 3.6-15.0 */
	background:      -o-linear-gradient(top, #8EC5DE, #2C7798);       /* Opera 11.10-12.10 */
	background:         linear-gradient(to bottom, #8EC5DE, #2C7798); /* IE10, Firefox 16.0+, Opera 12.50+ */
	
	/* IE 8+ */
	/* "-ms-filter" should be included first before "filter" in order for the filter to work properly in Compatibility View */
	/* http://msdn.microsoft.com/en-us/library/ms530752%28v=vs.85%29.aspx */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#8EC5DE', endColorstr='#2C7798', GradientType=0)";
	
	/* IE 5.5-7 */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8EC5DE', endColorstr='#2C7798', GradientType=0);
}


/*-- グレーボタン --*/
.basicBtn.gray{
	border:1px solid #919191;
	font-weight:bold;

	color:#181926;
	text-shadow: 1px 1px 0px rgba(255,255,255,0.5);

	/* Old Browsers */
	background: #A1A1A1;
	
	/* Safari 4.0-5.0, Chrome 3-9, iOS Safari 4.0.4-5.0, Android 2.1-3.0 */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #DDDDDD), color-stop(100%, #A1A1A1));
	
	background: -webkit-linear-gradient(top, #DDDDDD, #A1A1A1);       /* Safari 5.1+, Chrome 10+, iOS Safari 5.1+, Android 4.0+ */
	background:    -moz-linear-gradient(top, #DDDDDD, #A1A1A1);       /* Firefox 3.6-15.0 */
	background:      -o-linear-gradient(top, #DDDDDD, #A1A1A1);       /* Opera 11.10-12.10 */
	background:         linear-gradient(to bottom, #DDDDDD, #A1A1A1); /* IE10, Firefox 16.0+, Opera 12.50+ */
	
	/* IE 8+ */
	/* "-ms-filter" should be included first before "filter" in order for the filter to work properly in Compatibility View */
	/* http://msdn.microsoft.com/en-us/library/ms530752%28v=vs.85%29.aspx */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#DDDDDD', endColorstr='#A1A1A1', GradientType=0)";
	
	/* IE 5.5-7 */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DDDDDD', endColorstr='#A1A1A1', GradientType=0);
}

.basicBtn.gray:hover{

	/* Old Browsers */
	background: #868686;
	
	/* Safari 4.0-5.0, Chrome 3-9, iOS Safari 4.0.4-5.0, Android 2.1-3.0 */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #DDDDDD), color-stop(100%, #868686));
	
	background: -webkit-linear-gradient(top, #DDDDDD, #868686);       /* Safari 5.1+, Chrome 10+, iOS Safari 5.1+, Android 4.0+ */
	background:    -moz-linear-gradient(top, #DDDDDD, #868686);       /* Firefox 3.6-15.0 */
	background:      -o-linear-gradient(top, #DDDDDD, #868686);       /* Opera 11.10-12.10 */
	background:         linear-gradient(to bottom, #DDDDDD, #868686); /* IE10, Firefox 16.0+, Opera 12.50+ */
	
	/* IE 8+ */
	/* "-ms-filter" should be included first before "filter" in order for the filter to work properly in Compatibility View */
	/* http://msdn.microsoft.com/en-us/library/ms530752%28v=vs.85%29.aspx */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#DDDDDD', endColorstr='#868686', GradientType=0)";
	
	/* IE 5.5-7 */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DDDDDD', endColorstr='#868686', GradientType=0);
}


/*-- 検索ボタン --*/
.basicBtn.search{
	width:80px;
	height:40px;
	position:relative;
}
.basicBtn.close{
	width:90px;
	height:40px;
	position:relative;
}

.basicBtn.search input,
.basicBtn.close input{
	font-weight:bold;
	height:40px;
	line-height:40px;
	cursor:pointer;
	font-size:16px;
	margin:0;
	border:none;
	display:block;
	padding-left:25px;
	
	color:#FFF;
	text-shadow: -1px -1px 0px rgba(0,0,0,0.2);
}

.basicBtn.search input{
	width:80px;
	background:url(../img/iconBtnSearch.png) 10px 10px no-repeat;
}

.basicBtn.close input{
	width:90px;
	background:url(../img/iconBtnClose.png) 10px 13px no-repeat;
}


/*-- 編集削除権限付与ボタン --*/

.basicBtn.edit,
.basicBtn.del,
.basicBtn.auth,
.basicBtn.detail{
	position:relative;
	height:40px;
	float:left;
	margin-right:5px;
	margin-bottom:5px;
}

.w40,
.w40 input{
	width:40px;
}
.w70,
.w70 input{
	width:70px;
}



.basicBtn.edit input,
.basicBtn.del input,
.basicBtn.auth input,
.basicBtn.detail input{
	font-weight:bold;
	height:40px;
	cursor:pointer;
	font-size:12px;
	margin:0;
	border:none;
	display:block;
	padding-top:17px;
	
	color:#FFF;
	text-shadow: -1px -1px 0px rgba(0,0,0,0.2);
}

.basicBtn.edit input{
	background:url(../img/iconBtnEdit.png) center 2px no-repeat;
}

.basicBtn.del input{
	background:url(../img/iconBtnDel.png) center 2px no-repeat;
}

.basicBtn.auth input{
	background:url(../img/iconBtnAuth.png) center 4px no-repeat;
}

.basicBtn.detail input{
	background:url(../img/iconBtnDetail.png) center 4px no-repeat;
}


tr.dspNone td{
	display:none;
}

tr.dspTableCell td{
	display:table-cell;
}

.disabled label {
	color:#CCCCCC;
}

.delTag{
	background-color:#EEEEEE;
	overflow:auto;
	padding:4px 8px;
	margin-bottom:5px;
}

.delTag p{
	float:left;
	width:160px;
	font-size:10px;
	line-height:1.4em;
	margin-top:2px;
}

.delBtn{
	font-size:10px;
	float:right;
	padding:1px 3px;
	cursor:pointer;

	border: 1px solid #A1A1A1;
	-moz-border-radius: 4px;/* for Firefox */
	-webkit-border-radius: 4px;/* for Safari and chrome */
	border-radius: 4px;/* CSS3 */

	/* Old Browsers */
	background: #FFFFFF;
	
	/* Safari 4.0-5.0, Chrome 3-9, iOS Safari 4.0.4-5.0, Android 2.1-3.0 */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FDFDFD), color-stop(100%, #E2E1DD));
	
	background: -webkit-linear-gradient(top, #FDFDFD, #E2E1DD);       /* Safari 5.1+, Chrome 10+, iOS Safari 5.1+, Android 4.0+ */
	background:    -moz-linear-gradient(top, #FDFDFD, #E2E1DD);       /* Firefox 3.6-15.0 */
	background:      -o-linear-gradient(top, #FDFDFD, #E2E1DD);       /* Opera 11.10-12.10 */
	background:         linear-gradient(to bottom, #FDFDFD, #E2E1DD); /* IE10, Firefox 16.0+, Opera 12.50+ */
	
	/* IE 8+ */
	/* "-ms-filter" should be included first before "filter" in order for the filter to work properly in Compatibility View */
	/* http://msdn.microsoft.com/en-us/library/ms530752%28v=vs.85%29.aspx */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FDFDFD', endColorstr='#E2E1DD', GradientType=0)";
	
	/* IE 5.5-7 */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FDFDFD', endColorstr='#E2E1DD', GradientType=0);

	color:#181926;
	text-shadow: 1px 1px 0px rgba(255,255,255,0.8);
}


/*-- パスワード編集ボタン --*/
.pwdEditBtn{
	font-weight:bold;
	padding-left:1em;
	border:1px solid #D5D7D7;
	border-bottom:none;
	height:35px;
	line-height:35px;
	font-size:12px;
	text-align:left;

	-webkit-border-radius: 4px 4px 0px 0px;
	-moz-border-radius: 4px 4px 0px 0px;
	-ms-border-radius: 4px 4px 0px 0px;
	-o-border-radius: 4px 4px 0px 0px;
	border-radius: 4px 4px 0px 0px;

	color:#181926;
	text-shadow: 1px 1px 0px rgba(255,255,255,0.2);

	/* Old Browsers */
	background: #FFFFFF;
	
	/* Safari 4.0-5.0, Chrome 3-9, iOS Safari 4.0.4-5.0, Android 2.1-3.0 */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFFFFF), color-stop(100%, #e5e5e5));
	
	background: -webkit-linear-gradient(top, #FFFFFF, #e5e5e5);       /* Safari 5.1+, Chrome 10+, iOS Safari 5.1+, Android 4.0+ */
	background:    -moz-linear-gradient(top, #FFFFFF, #e5e5e5);       /* Firefox 3.6-15.0 */
	background:      -o-linear-gradient(top, #FFFFFF, #e5e5e5);       /* Opera 11.10-12.10 */
	background:         linear-gradient(to bottom, #FFFFFF, #e5e5e5); /* IE10, Firefox 16.0+, Opera 12.50+ */
	
	/* IE 8+ */
	/* "-ms-filter" should be included first before "filter" in order for the filter to work properly in Compatibility View */
	/* http://msdn.microsoft.com/en-us/library/ms530752%28v=vs.85%29.aspx */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#e5e5e5', GradientType=0)";
	
	/* IE 5.5-7 */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#e5e5e5', GradientType=0);
}

.pwdEditBtn:hover{

	/* Old Browsers */
	background: #FFFFFF;
	
	/* Safari 4.0-5.0, Chrome 3-9, iOS Safari 4.0.4-5.0, Android 2.1-3.0 */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFFFFF), color-stop(100%, #e5e5e5));
	
	background: -webkit-linear-gradient(top, #FFFFFF, #e5e5e5);       /* Safari 5.1+, Chrome 10+, iOS Safari 5.1+, Android 4.0+ */
	background:    -moz-linear-gradient(top, #FFFFFF, #e5e5e5);       /* Firefox 3.6-15.0 */
	background:      -o-linear-gradient(top, #FFFFFF, #e5e5e5);       /* Opera 11.10-12.10 */
	background:         linear-gradient(to bottom, #FFFFFF, #e5e5e5); /* IE10, Firefox 16.0+, Opera 12.50+ */
	
	/* IE 8+ */
	/* "-ms-filter" should be included first before "filter" in order for the filter to work properly in Compatibility View */
	/* http://msdn.microsoft.com/en-us/library/ms530752%28v=vs.85%29.aspx */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#e5e5e5', GradientType=0)";
	
	/* IE 5.5-7 */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#e5e5e5', GradientType=0);
}
	
.pwdEditBtn{
	position:relative;
}
.pwdEditBtn input{
	cursor:pointer;
	font-size:12px;
	width:100%;
	height:100%;
	border:none;
	position:absolute;
	top:0px;
	right:0px;
	padding-right:30px;
	background:url(../img/arrowGrayDown.png) 430px center no-repeat;
	text-align:right;
	color:#007FBF;
}
.pwdEditBtn input:hover{
	text-decoration:underline;
}
.pwdEditBtn input.active{
	background:url(../img/arrowGrayUp.png) 430px center no-repeat;
}
