@charset "utf-8";

/*-------------------------------------------------

common

-------------------------------------------------*/

body{
	font-family:"ＭＳ ゴシック", "MS Gothic" !important;
}

.btn.lightGray{
	font-family:"ＭＳ ゴシック", "MS Gothic";
}

/*-------------------------------------------------

sidebar

-------------------------------------------------*/

table td#sidebar{
	font-family:"ＭＳ ゴシック", "MS Gothic";
}	

ul.gNavi > li span.wrap{
	font-family:"ＭＳ ゴシック", "MS Gothic";
}


/*-------------------------------------------------

contens

-------------------------------------------------*/

div.boxBeige > h2{
	font-family:"ＭＳ ゴシック", "MS Gothic";
}

input{
	font-family:"ＭＳ ゴシック", "MS Gothic";
}
input[type="text"],input[type="password"],input[type="url"],input[type="file"],.radioDiv .left,.radioDiv .right,.radioDiv .center,select,textarea,.inputCheckBox{
	font-family:"ＭＳ ゴシック", "MS Gothic";
}

select{
	font-family:"ＭＳ ゴシック", "MS Gothic";
}
