﻿@charset "utf-8";

/*-------------------------------------------------

margin-left

-------------------------------------------------*/

.marL1 {
	margin-left: 1px;
}

.marL2 {
	margin-left: 2px;
}

.marL5 {
	margin-left: 5px;
}

.marL6 {
	margin-left: 6px;
}

.marL7 {
	margin-left: 7px;
}

.marL8 {
	margin-left: 8px;
}

.marL9 {
	margin-left: 9px;
}

.marL10 {
	margin-left: 10px;
}

.marL13 {
	margin-left: 13px;
}

.marL14 {
	margin-left: 14px;
}

.marL15 {
	margin-left: 15px;
}

.marL20 {
	margin-left: 20px;
}
.marL24 {
	margin-left: 24px;
}
.marL25 {
	margin-left: 25px;
}

.marL30 {
	margin-left: 30px;
}

.marL30 {
	margin-left: 35px;
}

.marL40 {
	margin-left: 40px;
}

.marL50 {
	margin-left: 50px;
}

.marL60 {
	margin-left: 60px;
}

.marL80 {
	margin-left: 80px;
}

.marL90 {
	margin-left: 90px;
}

.marL100 {
	margin-left: 100px;
}

.marL110 {
	margin-left: 110px;
}

.marL120 {
	margin-left: 120px;
}

.marL125 {
	margin-left: 125px;
}

.marL140 {
	margin-left: 140px;
}

.marL160 {
	margin-left: 160px;
}

.marL200 {
	margin-left: 200px;
}

.marL220 {
	margin-left: 220px;
}

.marL250 {
	margin-left: 250px;
}

.marL350 {
	margin-left: 350px;
}

/*-------------------------------------------------

margin-right

-------------------------------------------------*/

.marR1 {
	margin-right: 1px;
}

.marR3 {
	margin-right: 3px;
}

.marR4 {
	margin-right: 4px;
}

.marR5 {
	margin-right: 5px;
}

.marR6 {
	margin-right: 6px;
}

.marR8 {
	margin-right: 8px;
}

.marR10 {
	margin-right: 10px;
}

.marR13 {
	margin-right: 13px;
}

.marR15 {
	margin-right: 15px;
}

.marR20 {
	margin-right: 20px;
}

.marR25 {
	margin-right: 25px;
}

.marR30 {
	margin-right: 30px;
}

.marR30 {
	margin-right: 35px;
}

.marR40 {
	margin-right: 40px;
}

.marR50 {
	margin-right: 50px;
}

.marR100 {
	margin-right: 100px;
}

.marR180 {
	margin-right: 180px;
}

.marR210 {
	margin-right: 210px;
}

.marR245 {
	margin-right: 245px;
}

/*-------------------------------------------------

margin-bottom

-------------------------------------------------*/
.marB1 {
	margin-bottom: 1px;
}

.marB4 {
	margin-bottom: 4px;
}

.marB5 {
	margin-bottom: 5px;
}

.marB6 {
	margin-bottom: 6px;
}

.marB8 {
	margin-bottom: 8px;
}

.marB10 {
	margin-bottom: 10px;
}

/*更新システムキャンペーン用マージン*/
.marB10_sys {
	margin-bottom: 10px;
}
/*ここまで*/

.marB15 {
	margin-bottom: 15px;
}

.marB20 {
	margin-bottom: 20px;
}

.marB25 {
	margin-bottom: 25px;
}

.marB30 {
	margin-bottom: 30px;
}

.marB35 {
	margin-bottom: 35px;
}

.marB40 {
	margin-bottom: 40px;
}

.marB50 {
	margin-bottom: 50px;
}

.marB80 {
	margin-bottom: 80px;
}

.marB100 {
	margin-bottom: 100px;
}

.marB180 {
	margin-bottom: 180px;
}


/*-------------------------------------------------

margin-top

-------------------------------------------------*/

.marT1 {
	margin-top: 1px;
}

.marT4 {
	margin-top: 4px;
}

.marT5 {
	margin-top: 5px;
}

.marT6 {
	margin-top: 6px;
}

.marT7 {
	margin-top: 7px;
}

.marT8 {
	margin-top: 8px;
}

.marT10 {
	margin-top: 10px;
}

.marT15 {
	margin-top: 15px;
}

.marT20 {
	margin-top: 20px;
}

.marT25 {
	margin-top: 25px;
}

.marT30 {
	margin-top: 30px;
}

.marT30 {
	margin-top: 35px;
}

.marT40 {
	margin-top: 40px;
}

.marT50 {
	margin-top: 50px;
}

.marT55 {
	margin-top: 55px;
}

.marT60 {
	margin-top: 60px;
}

.marT70 {
	margin-top: 70px;
}

.marT80 {
	margin-top: 80px;
}

.marT150 {
	margin-top: 150px;
}

/*-------------------------------------------------

margin-top-bottom

-------------------------------------------------*/

.marTB1 {
	margin-top: 1px;
	margin-bottom: 1px;
}

.marTB5 {
	margin-top: 5px;
	margin-bottom: 5px;
}

.marTB6 {
	margin-top: 6px;
	margin-bottom: 6px;
}

.marTB8 {
	margin-top: 8px;
	margin-bottom: 8px;
}

.marTB10 {
	margin-top: 10px;
	margin-bottom: 10px;
}

.marTB15 {
	margin-top: 15px;
	margin-bottom: 15px;
}

.marTB20 {
	margin-top: 20px;
	margin-bottom: 20px;
}

.marTB30 {
	margin-top: 30px;
	margin-bottom: 30px;
}

.marTB40 {
	margin-top: 40px;
	margin-bottom: 40px;
}

/*-------------------------------------------------

margin-left-right

-------------------------------------------------*/

.marLR5 {
	margin-right: 5px;
	margin-left: 5px;
}

.marLR10 {
	margin-right: 10px;
	margin-left: 10px;
}

.marLR15 {
	margin-right: 15px;
	margin-left: 15px;
}

.marLR20 {
	margin-right: 20px;
	margin-left: 20px;
}
.marLR30 {
	margin-right: 30px;
	margin-left: 30px;
}

.marLRauto {
	margin-right: auto;
	margin-left: auto;
}

/*-------------------------------------------------

margin-all

-------------------------------------------------*/

.marAll5 {
	margin: 5px;
}

.marAll10 {
	margin: 10px;
}

.marAll20 {
	margin: 20px;
}

.marAll30 {
	margin: 30px;
}

.marAll40 {
	margin: 40px;
}

.marAll140 {
	margin: 140px;
}

/*-------------------------------------------------

padding-left

-------------------------------------------------*/

.padL5 {
	padding-left: 5px;
	}

.padL10 {
	padding-left: 10px;
	}
	
.padL15 {
	padding-left: 15px;
	}
	
.padL20 {
	padding-left: 20px;
	}
	
.padL30 {
	padding-left: 30px;
	}
	
.padL40 {
	padding-left: 40px;
	}

/*-------------------------------------------------

padding-right

-------------------------------------------------*/

.padR10 {
	padding-right: 10px;
	}
	
.padR20 {
	padding-right: 20px;
	}
	
.padR30 {
	padding-right: 30px;
	}
	
/*-------------------------------------------------

padding-top

-------------------------------------------------*/

.padT5 {
	padding-top: 5px;
	}
	
.padT6 {
	padding-top: 6px;
	}
	
.padT7 {
	padding-top: 7px;
	}

.padT10 {
	padding-top: 10px;
	}
	
.padT20 {
	padding-top: 20px;
	}
	
.padT30 {
	padding-top: 30px;
	}

/*-------------------------------------------------

padding-bottom

-------------------------------------------------*/

.padB5 {
	padding-bottom: 5px;
	}

.padB10 {
	padding-bottom: 10px;
	}
	
.padB15 {
	padding-bottom: 15px;
	}
	
.padB20 {
	padding-bottom: 20px;
	}
	
.padB30 {
	padding-bottom: 30px;
	}

/*-------------------------------------------------

padding-left-right

-------------------------------------------------*/

.padLR10 {
	padding-left: 10px;
	padding-right: 10px;
	}

/*-------------------------------------------------

padding-top-bottom

-------------------------------------------------*/

.padTB5 {
	padding-top: 5px;
	padding-bottom: 5px;
	}

.padTB10 {
	padding-top: 10px;
	padding-bottom: 10px;
	}

/*-------------------------------------------------

padding-all

-------------------------------------------------*/

.padAll5 {
	padding:5px;
	}

.padAll10 {
	padding:10px;
	}

.padAll20 {
	padding:20px;
	}
.padAll30 {
	padding:30px;
	}
	
