@charset "utf-8";

/*-------------------------------------------------

print

-------------------------------------------------*/

@media print {

@page {
	margin: 3cm;
	size: 297mm 210mm portrait; /*- A4 タテ -*/
}

body {
	font-family: "ＭＳ Ｐ明朝","ＭＳ 明朝", "細明朝体", "平成明朝","ヒラギノ明朝 Pro W3";
	background-image:none;
	background-color:#fff;
}

body * {
	color:#000000;
}

#pagetop {
	visibility:hidden;
	margin:0;
}

}