@charset "utf-8";

/*-------------------------------------------------

system

-------------------------------------------------*/

.errorLine{
	border:solid 1px #ff0000;
}

div.errorInfo{
	color: red;

