#messageBox {
	width: 750px;
	margin :10px 20px 0px 20px;
	padding: 5px 10px;;
	line-height: 220%;
}

#resultBox {
	height: 320px;
	width: 770px;
	margin: 20px;
	overflow-y: scroll;
}


#buttonBox {
	width: 800px;
	text-align: center;
}


table#errorMessageTable {
	border-collapse:collapse;
	border: opx;
}

table#errorMessageTable td {
	padding-left: 5px;
	background-color: #fff;
	border: solid 1px #000;
}

table#errorMessageTable th {
	text-align: left;
	padding-left: 5px;
	border: solid 1px #000;
}

table#errorHeaderTable {
	border: 0px;
}

table#errorHeaderTable td{
	padding-left : 15px;
}

.errorHead {
	color: #fff;
	background-color: #993333;
}