@charset "utf-8";

/*-------------------------------------------------

style

-------------------------------------------------*/


/*-------------------------------------------------

common

-------------------------------------------------*/

body{
	color:#181926;
	min-width:1120px;
}

table th,
table td{
	padding:0.3em 1em
}

.minW170{
	min-width:170px;
}

.dotLineGray{
	border-bottom:1px dotted #CCC;
}



.btn,
input.btn{
	-moz-border-radius: 4px;/* for Firefox */
	-webkit-border-radius: 4px;/* for Safari and chrome */
	border-radius: 4px;/* CSS3 */
}


.btn.lightGray{
	display:block;
	
	/* Old Browsers */
	background: #E2E1DD;
	
	/* Safari 4.0-5.0, Chrome 3-9, iOS Safari 4.0.4-5.0, Android 2.1-3.0 */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FDFDFD), color-stop(100%, #E2E1DD));
	
	background: -webkit-linear-gradient(top, #FDFDFD, #E2E1DD);       /* Safari 5.1+, Chrome 10+, iOS Safari 5.1+, Android 4.0+ */
	background:    -moz-linear-gradient(top, #FDFDFD, #E2E1DD);       /* Firefox 3.6-15.0 */
	background:      -o-linear-gradient(top, #FDFDFD, #E2E1DD);       /* Opera 11.10-12.10 */
	background:         linear-gradient(to bottom, #FDFDFD, #E2E1DD); /* IE10, Firefox 16.0+, Opera 12.50+ */
	
	/* IE 8+ */
	/* "-ms-filter" should be included first before "filter" in order for the filter to work properly in Compatibility View */
	/* http://msdn.microsoft.com/en-us/library/ms530752%28v=vs.85%29.aspx */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FDFDFD', endColorstr='#E2E1DD', GradientType=0)";
	
	/* IE 5.5-7 */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FDFDFD', endColorstr='#E2E1DD', GradientType=0);

	color:#181926;
	text-shadow: 1px 1px 0px rgba(255,255,255,0.8);
}

.btn.lightGray:hover{

	/* Old Browsers */
	background: #CCCBC6;
	
	/* Safari 4.0-5.0, Chrome 3-9, iOS Safari 4.0.4-5.0, Android 2.1-3.0 */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FDFDFD), color-stop(100%, #CCCBC6));
	
	background: -webkit-linear-gradient(top, #FDFDFD, #CCCBC6);       /* Safari 5.1+, Chrome 10+, iOS Safari 5.1+, Android 4.0+ */
	background:    -moz-linear-gradient(top, #FDFDFD, #CCCBC6);       /* Firefox 3.6-15.0 */
	background:      -o-linear-gradient(top, #FDFDFD, #CCCBC6);       /* Opera 11.10-12.10 */
	background:         linear-gradient(to bottom, #FDFDFD, #CCCBC6); /* IE10, Firefox 16.0+, Opera 12.50+ */
	
	/* IE 8+ */
	/* "-ms-filter" should be included first before "filter" in order for the filter to work properly in Compatibility View */
	/* http://msdn.microsoft.com/en-us/library/ms530752%28v=vs.85%29.aspx */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FDFDFD', endColorstr='#CCCBC6', GradientType=0)";
	
	/* IE 5.5-7 */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FDFDFD', endColorstr='#CCCBC6', GradientType=0);

}

input.btn.lightGray{
	display:inline;
	background-color: #E2E1DD;
	background: -webkit-gradient(linear, left top, left bottom, from(#FDFDFD), to(#E2E1DD));　/* Safari,Google Chrome用 */
	background: -moz-linear-gradient(top, #FDFDFD, #E2E1DD);　/* Firefox用 */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FDFDFD, endColorstr=#E2E1DD);/* IE6,7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#FDFDFD', EndColorStr='#E2E1DD')"; /* IE8,9 */
	
	color:#181926;
	text-shadow: 1px 1px 0px rgba(255,255,255,0.8);
}

input.btn.lightGray:hover{
	background-color: #CCCBC6;
	background: -webkit-gradient(linear, left top, left bottom, from(#FDFDFD), to(#CCCBC6));　/* Safari,Google Chrome用 */
	background: -moz-linear-gradient(top, #FDFDFD, #CCCBC6);　/* Firefox用 */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FDFDFD, endColorstr=#CCCBC6);/* IE6,7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#FDFDFD', EndColorStr='#CCCBC6')"; /* IE8,9 */
}

.centerBlock{
	margin-left:auto;
	margin-right:auto;
}


.midashi{
	font-weight:bold;
	color:#0080C0;
	margin-bottom:15px;
	background-color:#F2F9FB;
	border-left:2px solid #5CABCE;
	padding:0.3em 1em;
}


/*-------------------------------------------------

contens

-------------------------------------------------*/

table td#contents{
	padding:20px;
}


div.boxBeige > h2{
	width:;
	font-size:14px;
	font-weight:bold;
	padding:6px 15px;
		
	background-color: #F3F1ED;
	background: -webkit-gradient(linear, left top, left bottom, from(#FCFBFA), to(#F3F1ED));/* Safari,Google Chrome用 */
	background: -moz-linear-gradient(top, #FCFBFA, #F3F1ED);　/* Firefox用 */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FCFBFA, endColorstr=#F3F1ED);/* IE6,7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#FCFBFA', EndColorStr='#F3F1ED')"; /* IE8,9 */

	border:1px solid #D5D7D7;
	-moz-border-radius-topleft: 4px;			/* for Firefox */
	-moz-border-radius-topright: 4px;			/* for Firefox */
	-webkit-border-top-left-radius: 4px;	/* for Safari and chrome */
	-webkit-border-top-right-radius: 4px;	/* for Safari and chrome */
	border-top-left-radius: 4px;					/* CSS3 */
	border-top-right-radius: 4px;					/* CSS3 */
}

div.boxBeige > div{
	border:1px solid #D5D7D7;
	border-top:none;
	padding:5px 15px;
}


div.boxBeige > div.info{
	overflow:auto;
	padding:0px 15px;
}

div.boxBeige > div.form{
	padding:30px;
}

div.boxBeige > div.info.short{
	height:110px;
}

div.boxBeige > div.info.tall{
	height:200px;
}




div.boxBeige > div.info table td{
	padding:10px 0;
	border-bottom:1px dotted #D5D7D7;
}

div.boxBeige > div.info table tr.last td{
	border-bottom:none;
}

div.boxBeige > div.info table td.dateTime{
	width:120px;
}

div.boxBeige > div.info ul li.last{
	border-bottom:none;
	padding-bottom:0px;
	margin-bottom:0px;
}




div.boxBeige > table th,
div.boxBeige > table td{
	border:1px solid #D5D7D7;
	border-top:none;
}

div.boxBeige > table th{
	background-color:#F2F9FB;
}


.box2 > div{
	width:50%;
	padding-right:10px;
	float:left;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.box2 > div.rightEnd{
	padding-right:0px;
}


div.ranking{
	padding:0px 15px;
}

div.ranking > table td{
	padding:10px 10px 10px 0px;
	border-bottom:1px dotted #D5D7D7;
}

div.ranking > table td p{
	line-height:1.4em;
	margin-bottom:5px;
}

div.ranking > table td p.f10{
	line-height:1.4em;
	margin-bottom:0px;
}


div.ranking > table tr.last td{
	padding-bottom:0px;
	border-bottom:none;
}

div.ranking > table td.rank{width:28px;}
div.ranking > table td.thumb{width:70px;}


div.ranking > table td.rank span{
	display:block;
	width:18px;
	height:27px;
	text-indent:-9999px;
}

div.ranking > table td.thumb a{
	display:block;
	height:34px;
	width:60px;
	background-color:#000000;
	text-align:center;
}

div.ranking > table td.thumb img{
	height:34px;
}

div.ranking > table td.rank.no1 span{background:url(../img/iconRanking.png) 0px 0px no-repeat;}
div.ranking > table td.rank.no2 span{background:url(../img/iconRanking.png) -30px 0px no-repeat;}
div.ranking > table td.rank.no3 span{background:url(../img/iconRanking.png) -60px 0px no-repeat;}
div.ranking > table td.rank.no4 span{background:url(../img/iconRanking.png) -90px 0px no-repeat;}
div.ranking > table td.rank.no5 span{background:url(../img/iconRanking.png) -120px 0px no-repeat;}








/*-------------------------------------------------

情報一覧テーブル

-------------------------------------------------*/

table.list{
	border:1px solid #D5D7D7;
	border-top:none;
}

table.list th,
table.list td{
	border:1px solid #D5D7D7;
	padding: 0.5em 1em;
	line-height:1.4em;
	vertical-align:middle;
}

table.list th{
	background-color:#F2F9FB;
	font-size:10px;
}

table.list th.pager{
	padding-right:5px;
	font-size:12px;
	text-align:left;
	background-color:#D7ECF2;
	vertical-align:middle;
	color:#0080C0;
	font-weight:bold;
}
table.list th.top{
	border-top:none;
}

.noUL a{
	text-decoration:none;
}

/*-------------------------------------------------

メール確認テーブル

-------------------------------------------------*/


table.confirm{
	border:1px solid #D5D7D7;
	border-top:none;
}

table.confirm th,
table.confirm td,
div.form table.confirm th,
div.form table.confirm td{
	border:1px solid #D5D7D7;
	padding: 0.5em 1em;
	line-height:1.4em;
	vertical-align:middle;
}

table.confirm th{
	background-color:#F2F9FB;
	width:150px;
}

table.confirm th.tit{
	font-size:12px;
	text-align:left;
	background-color:#D7ECF2;
	vertical-align:middle;
	color:#0080C0;
	font-weight:bold;
}


/*-------------------------------------------------

公開前・公開中・公開終了アイコン

-------------------------------------------------*/

.iconOpenFlg{
	display: inline-block;
	width: 100%;
	height: 20px;
	font-size: 12px;
	text-align: center;
	color: #FFF;
	line-height: 20px;
}

#dashborad .iconOpenFlg{
	width: 50px;
	height: 16px;
	line-height: 16px;
	font-size: 10px;
	margin-right: 10px;
}

.iconOpenFlg.status1{
	background-color: #FFC733;
}
.iconOpenFlg.status2{
	background-color: #FF7E3E;
}
.iconOpenFlg.status3{
	background-color: #BCBCBC;
}
.iconOpenFlg.status4{
	background-color: #B7C99E;
}

/*-------------------------------------------------

サムネイルサイズ指定

-------------------------------------------------*/

.thumb.h60{
	display:block;
	background-color:#000000;
	height:60px;
	width:106px;
	text-align:center;
}
.thumb.h60 img{
	height:60px;
}


.movie_info {
	float    : left;
	width    : 340px;
	overflow : hidden;
}


.movie_info .thumb{
	display:block;
	background-color:#000000;
	height:191px;
	width:340px;
	text-align:center;
}
.movie_info .thumb img{
	height:191px;
}
