/*-------------------------------------------------

footer

-------------------------------------------------*/

footer{
	position:relative;
	clear:both;
	border-top:1px solid #6D6F70;
	background-color:#808183;
	height:40px;
	color:#E0E0E0;
	font-size:10px;
	line-height:40px;
	text-align:center;
}
