@charset "utf-8";

/*-------------------------------------------------

header

-------------------------------------------------*/

header {
	height:58px;
	border-bottom:2px solid #9FA0A2;
	padding:0 15px;
}

header .left{
	float:left;
	display: inline;
}
	
header .left h1{
	background:url(../img/logo.png) left top no-repeat;
	display: inline;
	float: left;
	width: 155px;
	height: 30px;
	margin: 14px 13px 0 0;
	text-indent: -9999px;
}

header .left h2{
	display: inline;
	font-size:18px;
	line-height:58px;
	white-space:nowrap;
}

header .right{
	float:right;
	display: inline;
	margin:15px 0 0 0;
}

header .right ul.linkList,
header .right p.userInfo{
	float:left;
}

header .right p.userInfo{
	line-height:25px;
	color:#858B9D;
}

header .right p.userInfo img{
	border:1px solid #C4C1B9;
	margin-left:10px;
}

header .right ul.linkList{
	margin-right:20px;
}

header .right ul.linkList li{
	float:left;
	margin-right:10px;
}

header .right ul.linkList li.last{
	margin-right:0;
}

header .right ul.linkList li a{
//	border:1px solid #D3D2CD;
	line-height:1em;
	padding:6px 10px;
	text-decoration:none;
	color:#181926;
}

/*-------------------------------------------------

sidebar

-------------------------------------------------*/

table td#sidebar{
	padding:0px;
	
	min-width:230px;
	width:230px;

	/* Old Browsers */
	background: #F2F2F2;
	
	/* Safari 4.0-5.0, Chrome 3-9, iOS Safari 4.0.4-5.0, Android 2.1-3.0 */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F8F8F8), color-stop(100%, #F2F2F2));
	
	background: -webkit-linear-gradient(top, #F8F8F8, #F2F2F2);       /* Safari 5.1+, Chrome 10+, iOS Safari 5.1+, Android 4.0+ */
	background:    -moz-linear-gradient(top, #F8F8F8, #F2F2F2);       /* Firefox 3.6-15.0 */
	background:      -o-linear-gradient(top, #F8F8F8, #F2F2F2);       /* Opera 11.10-12.10 */
	background:         linear-gradient(to bottom, #F8F8F8, #F2F2F2); /* IE10, Firefox 16.0+, Opera 12.50+ */
	
	/* IE 8+ */
	/* "-ms-filter" should be included first before "filter" in order for the filter to work properly in Compatibility View */
	/* http://msdn.microsoft.com/en-us/library/ms530752%28v=vs.85%29.aspx */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#F8F8F8', endColorstr='#F2F2F2', GradientType=0)";
	
	/* IE 5.5-7 */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F8F8F8', endColorstr='#F2F2F2', GradientType=0);

	border-left:1px solid #E7E8E8;
	border-right:1px solid #E6E7E7;
}	


ul.gNavi > li{
	color:#007FBF;
	font-size:16px;
	text-shadow: 1px 1px 0px rgba(255,255,255,0.8);
}

ul.gNavi > li span.wrap{
	display:block;
	position:relative;
	text-decoration:none;
	padding:12px 15px;
	cursor:pointer;
	
	/* Old Browsers */
	background: #F9F9F9;
	
	/* Safari 4.0-5.0, Chrome 3-9, iOS Safari 4.0.4-5.0, Android 2.1-3.0 */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F9F9F9), color-stop(100%, #F3F1ED));
	
	background: -webkit-linear-gradient(top, #F9F9F9, #F3F1ED);       /* Safari 5.1+, Chrome 10+, iOS Safari 5.1+, Android 4.0+ */
	background:    -moz-linear-gradient(top, #F9F9F9, #F3F1ED);       /* Firefox 3.6-15.0 */
	background:      -o-linear-gradient(top, #F9F9F9, #F3F1ED);       /* Opera 11.10-12.10 */
	background:         linear-gradient(to bottom, #F9F9F9, #F3F1ED); /* IE10, Firefox 16.0+, Opera 12.50+ */
	
	/* IE 8+ */
	/* "-ms-filter" should be included first before "filter" in order for the filter to work properly in Compatibility View */
	/* http://msdn.microsoft.com/en-us/library/ms530752%28v=vs.85%29.aspx */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#F9F9F9', endColorstr='#F3F1ED', GradientType=0)";
	
	/* IE 5.5-7 */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F9F9F9', endColorstr='#F3F1ED', GradientType=0);

	border-top:1px solid #FFFFFF;
	border-bottom:1px solid #E6E7E7;
}

ul.gNavi > li span.wrap.active{
	/* Old Browsers */
	background: #FFFFFF;
	
	/* Safari 4.0-5.0, Chrome 3-9, iOS Safari 4.0.4-5.0, Android 2.1-3.0 */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFFFFF), color-stop(100%, #BDE2EB));
	
	background: -webkit-linear-gradient(top, #FFFFFF, #BDE2EB);       /* Safari 5.1+, Chrome 10+, iOS Safari 5.1+, Android 4.0+ */
	background:    -moz-linear-gradient(top, #FFFFFF, #BDE2EB);       /* Firefox 3.6-15.0 */
	background:      -o-linear-gradient(top, #FFFFFF, #BDE2EB);       /* Opera 11.10-12.10 */
	background:         linear-gradient(to bottom, #FFFFFF, #BDE2EB); /* IE10, Firefox 16.0+, Opera 12.50+ */
	
	/* IE 8+ */
	/* "-ms-filter" should be included first before "filter" in order for the filter to work properly in Compatibility View */
	/* http://msdn.microsoft.com/en-us/library/ms530752%28v=vs.85%29.aspx */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#BDE2EB', GradientType=0)";
	
	/* IE 5.5-7 */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#BDE2EB', GradientType=0);
}

ul.gNavi > li span.wrap.link{
	padding:0px;
}

ul.gNavi > li span.wrap span.arrow{
  position:absolute;
	display:block;
	background:url(../img/iconArrowBlue.png) 0px 0px no-repeat;
	top:18px;
	right:10px;
  width: 5px;
  height: 5px;
}

ul.gNavi > li span.wrap span.arrow.rotate {
	background:url(../img/iconArrowBlue.png) 0px -10px no-repeat;
}

ul.gNavi > li  a{
	text-decoration:none;
	display:block;
}

ul.gNavi > li span.wrap.link a{
	padding:12px 15px;
}


ul.gNavi > li > ul{
	border-left:2px solid #3898C3;
	border-bottom:1px solid #E6E7E7;
	padding:4px 0px;
	background-color: #F9F9F9;
	display:none;
}

ul.gNavi > li > ul > li{
	font-size:14px;
	margin:0px 4px 4px 4px;
}

ul.gNavi > li > ul > li.last{
	margin-bottom:0px;
}

ul.gNavi > li > ul > li a{
	display:block;
	padding:8px 10px 8px 20px;
	-moz-border-radius: 4px;/* for Firefox */
	-webkit-border-radius: 4px;/* for Safari and chrome */
	border-radius: 4px;/* CSS3 */
}

ul.gNavi > li > ul > li a:hover{
	background-color:#E6E7E7;
}

ul.gNavi > li > ul > li a.active,
ul.gNavi > li > ul > li a.active:hover{
	background-color:#3898C3;
	color:#FFFFFF;
	text-shadow: 1px 1px 0px rgba(0,0,0,0.2);
}



ul.gNavi > li a:hover,
ul.gNavi > li > ul > li a:hover{
	color:#007FBF;
}

