ul.pager {
	float:right;
	margin-top:1px;
}
ul.pager li {
      float: left;
      margin-right: 5px;
			font-size:10px;
			font-weight:normal;
}
ul.pager li.last {
      margin-right: 0px;
}

ul.pager li.prev,
ul.pager li.next {
      border: none;
}


ul.pager li a {
      position: relative;
      display: block;
      padding: 4px 6px;
      color: #0080C0;
      background: #FFFFFF;
      border: 1px #D5D7D7 solid;
}
ul.pager li.next a,
ul.pager li.prev a {
      background:none;
      border: 1px #D7ECF2 solid;
}
ul.pager li a:link,
ul.pager li a:visited {
      text-decoration: none;
}
ul.pager li a:hover,
ul.pager li a:active {
      background-color: #F2F9FB;
      text-decoration: none;
}

ul.pager li.next a:hover,
ul.pager li.next a:active,
ul.pager li.prev a:hover,
ul.pager li.prev a:active {
      background-color: #F2F9FB;
      text-decoration: none;
      border: 1px #F2F9FB solid;
}

ul.pager li span {
      display: block;
      padding: 4px 6px;
      background: #3898C3;
      border: 1px #D5D7D7 solid;
      color: #FFFFFF;
}

